<html>
    <body>
        <div class="errors">
            <%if(validationErrors) { %>
                <ul>
                <% for(var i=0; i<validationErrors.length; i++) {%>
                    <li><%=validationErrors[i].param%> - <%=validationErrors[i].msg%></li>
                <% } %>
                </ul>
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label> Titulo do livro
                    <input type="text" name="titulo" placeholder="nome do produto"/>
                </label>
            </div>
            <div>
                <label> Preço
                    <input type="text" name="preco" placeholder="nome do produto"/>
                </label>
            </div>
            <div>
                <label> Descricao
                    <textarea name="descricao"></textarea>
                </label>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io("ws://localhost:3000/");
        socket.on('novaPromocao', function (data) {
            document.location.href= "/produtos/"+data.livro.id+"?promocao="+data.mensagem;
        });
    </script>
</html>