<html>
    <head>
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        <!-- style -->
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/forms.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Administração Casa do Código</a>
            </div>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/produtos/form"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a></li>
                            <li><a href="/produtos"><span class="glyphicon glyphicon-menu-hamburger"></span> Listagem de livros</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- FINAL NAV -->
    <div>
        <div class ="container min-container">
            <h2 class="basic-title">Listagem de livros</h2>
            <div class="well">
                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <td><a href="">titulo</a></td>
                        <td><a href="">preco</a></td>
                        <td><a href="">descricao</a></td>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<lista.length; i++) {%>
                        <tr>
                            <td><%= lista[i].titulo %></td>
                            <td><%= lista[i].preco %></td>
                            <td><p><%= lista[i].descricao%></p></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <a href="/produtos/form" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>